# Ignore node_modules
node_modules

# Ignore build directories
dist
build

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore temporary files
tmp
*.tmp

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore
.node_modules
helm