ion-modal.feedback-box {
    --width: 30%;
    --height: auto;
    font-size: 14px;
}
ion-popover.rating-popover {
    font-size: 12px;
    --width: 300px;
}
ion-modal.feedback-box ion-textarea {
    margin-top: 6px;
}