/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@font-face {
    font-family: 'TeliaFont';
    src: url('../theme/fonts/TTF/TeliaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TeliaFont';
    src: url('../theme/fonts/TTF/TeliaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: #990AE3;
      --color-white: #fff;
      --ion-color-primary: #990AE3;
    }
}
@layer components {
    .btn-primary {
        --background: var(--color-primary);
    }
}
:root {
    --ion-font-family: 'TeliaFont', sans-serif;
    --ion-default-font: 'TeliaFont', sans-serif;
}
::-ms-reveal {
    display: none;
}
body {
    @apply font-custom;
}
* {
    font-family: 'TeliaFont', sans-serif;
}

.page-body {
    --background: #F4F4F9;
}
ion-select-popover ion-list ion-item {
    font-size: 14px;
}
.popover-content {
    width: 200px !important;
}
.bottom-textarea {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 0px 16px;
}
.bottom-textarea .textarea-bottom {
    border: none;
}
.bottom-textarea .textarea-highlight {
    display: none;
}

.field-item .label-text-wrapper {
    top: -4px;
}


ion-select.field-item::part(label) {
    top: -4px;
}

.field-item.label-floating .label-text-wrapper, ion-select.field-item.label-floating::part(label) {
    top: unset;
}

ion-chip.true {
    background:  var(--color-primary);
    color: #fff;
    box-shadow:  var(--color-primary) 0px 2px 4px 0px,  var(--color-primary) 0px 2px 16px 0px;
}

ion-popover.profile-popover {
    --max-width: 180px;
}

ion-loading.custom-loading .loading-wrapper {
    --background: var(--color-white);
    padding: 10px;
    border-radius: 6px;
}
ion-toast.custom-toast {
    --background: var(--color-primary);
    color: var(--color-white);
    --width: auto !important;
    --min-width: 200px;
    --max-width: 400px;
}
.custom-search p {
    font-size: 0.675rem;
    position: absolute;
    top: -8px;
    left: 30px;
    background: #fff;
    z-index: 1;
}
.custom-search .optionListContainer {
    z-index: 3;
    font-size: 14px;
}
.custom-search .optionListContainer li:hover {
    background: #F5F5F5;
    color: #000;
}
.custom-search .optionListContainer li.highlightOption  {
    background: unset;
    color: unset;
}
.custom-search .search-wrapper .chip {
    font-size: 10px;
    background: var(--color-primary);
}

ion-modal#example-modal {
    --width: fit-content;
  --min-width: 350px;
  --max-width: 450px;
  --height: auto;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
ion-textarea .textarea-wrapper-inner {
    max-height: 300px;
}
ion-textarea .textarea-wrapper-inner .native-wrapper .native-textarea {
    max-height: 300px;
    overflow: auto !important;
}
.bg-transparent ion-card ion-item ion-label {
    font-size: 14px;
    color: #000;
}
.bg-transparent ion-card ion-item ion-label p {
    font-size: 14px;
    color: #000;
}
.bg-transparent ion-card ion-item ion-label li {
    font-size: 14px;
    color: #000;
}