/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import 'react-tooltip/dist/react-tooltip.css';
@font-face {
    font-family: 'TeliaFont';
    src: url('../theme/fonts/TTF/TeliaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TeliaFont';
    src: url('../theme/fonts/TTF/TeliaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: #990AE3;
      --color-danger: #ff0000;
      --color-success: #00ff00;
      --color-warning: #ffcc00;
      --color-white: #fff;
      --color-black: #000;
      --ion-color-primary: #990AE3;
    }
}
@layer components {
    .btn-primary {
        --background: var(--color-primary);
        color: var(--color-white);
    }
}
:root {
    --ion-font-family: 'TeliaFont', sans-serif;
    --ion-default-font: 'TeliaFont', sans-serif;
}
::-ms-reveal {
    display: none;
}
body {
    @apply font-custom;
}
* {
    font-family: 'TeliaFont', sans-serif;
    scrollbar-color: #888 #f1f1f1; 
}
.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}
ul {
    padding-inline-start: 30px;
    list-style:disc;
}

.page-body {
    --background: #F4F4F9;
}
ion-select-popover ion-list ion-item {
    font-size: 14px;
}
.popover-content {
    width: 200px !important;
}
.bottom-textarea {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 0px 16px;
}
.bottom-textarea .textarea-bottom {
    border: none;
}
.bottom-textarea .textarea-highlight {
    display: none;
}

.field-item .label-text-wrapper {
    top: -4px;
}


ion-select.field-item::part(label) {
    top: -4px;
}

.field-item.label-floating .label-text-wrapper, ion-select.field-item.label-floating::part(label) {
    top: unset;
}

ion-chip.true {
    background:  var(--color-primary);
    color: #fff;
    box-shadow:  var(--color-primary) 0px 2px 4px 0px,  var(--color-primary) 0px 2px 16px 0px;
}

ion-popover.profile-popover {
    --max-width: 180px;
}

ion-loading.custom-loading .loading-wrapper {
    --background: var(--color-white);
    padding: 10px;
    border-radius: 6px;
}
ion-toast.custom-toast {
    --background: var(--color-primary);
    color: var(--color-white);
    --width: auto !important;
    --min-width: 200px;
    --max-width: 400px;
}
ion-toast.custom-toast.error {
    --background: var(--color-danger);
}
ion-toast.custom-toast.success {
    --background: var(--color-success);
    color: var(--color-black);
}
ion-toast.custom-toast.warning {
    --background: var(--color-warning);
    color: var(--color-black);
}
.custom-search p {
    font-size: 0.675rem;
    position: absolute;
    top: -8px;
    left: 30px;
    background: #fff;
    z-index: 1;
}
.custom-search .optionListContainer {
    z-index: 3;
    font-size: 14px;
}
.custom-search .optionListContainer li:hover {
    background: #F5F5F5;
    color: var(--color-black);
}
.custom-search .optionListContainer li.highlightOption  {
    background: unset;
    color: unset;
}
.custom-search .search-wrapper .chip {
    font-size: 10px;
    background: var(--color-primary);
}
ion-modal.self-learning-modal {
    --width: 90%;
    --height: auto;
}
ion-modal.contentful-modal {
    --width: 450px;
    --height: auto;
}
ion-modal#example-modal {
    --width: fit-content;
  --min-width: 450px;
  --max-width: 550px;
  --height: auto;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
ion-modal#example-modal::part(content) {
    position: relative;
    display: block;
    contain: content;
}
ion-modal#example-modal .inner-content, ion-modal.self-learning-modal .inner-content, ion-modal.contentful-modal .inner-content {
    max-height: 80vh;
    overflow: auto;
}




ion-textarea .textarea-wrapper-inner {
    max-height: 300px;
    min-height: 100px !important;
}
ion-textarea .textarea-wrapper-inner .native-wrapper .native-textarea {
    max-height: 300px;
    overflow: auto !important;
}
.bg-transparent ion-card ion-item ion-label {
    font-size: 14px;
    color: var(--color-black);
}
.bg-transparent ion-card ion-item ion-label p {
    font-size: 14px;
    color: var(--color-black);
}
.bg-transparent ion-card ion-item ion-label li {
    font-size: 14px;
    color: var(--color-black);
}
.not-found {
    background-image: url('../theme/assets/404-background.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    color: var(--color-white);
    --background: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px; 
}
.feedback-alert textarea {
    border: 1px solid #d9d9d9 !important;
    border-radius: 6px;
    padding: 4px !important;
    height: 80px;
}
.feedback-alert .alert-input-group {
    padding-top: 0px;
    padding-bottom: 0px;
}
.feedback-alert {
    --max-width: min(100vw - 96px, 360px);
}
.rotate {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}
.rotate-reverse {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.styles-module_dark__xNqje {
    z-index: 9999;
}
.search-input {
    background: transparent;
}
ion-toggle .label-text-wrapper {
    margin-right: 10px;
}
.tab-body ol {
    list-style: auto;
    margin: auto;
    padding: revert;
}
.tab-body ol li::marker {
    font-weight: bold;
}
ion-item.text-green ion-radio {
    color: #006f6c !important;
}


@media (prefers-color-scheme: dark) {
    :root.md {
        --checkbox-background: #fff;
        --ion-item-background: #fff;
        --ion-toolbar-background: #fff;
        --ion-tab-bar-background: #fff;
        --ion-card-background: #fff;
        --border-color: #666666;
        --color: #000;
    }
    ion-checkbox {
        color: var(--color-black);
        --checkmark-color: var(--color-white);
        --border-color: var(--color-black);
    }
    
    ion-segment ion-segment-button {
        color: var(--color-black);
    }
    ion-segment ion-segment-button.segment-button-checked, ion-segment ion-segment-button:hover ion-label{
        color: var(--color-primary);
    }
    .input-fill-outline.sc-ion-input-md-h, .input-fill-outline.sc-ion-input-md-h, .select-label-placement-stacked {
        --border-color: var(--ion-color-step-750, var(--ion-background-color-step-750, #404040));
    }
    ion-header, ion-toolbar, ion-item, ion-list {
        --background: var(--color-white);
        background: var(--color-white)
    }
    ion-icon, ion-label, ion-radio{
        color: #404040 !important;
    }
    ion-modal ion-header ion-toolbar {
        color: var(--color-black);
    }
    ion-modal .ion-padding {
        background: var(--color-white);
    }
    ion-modal .ion-padding ion-segment{
        border-color: var(--color-primary);
    }
    .login-box ion-input label{
        color: var(--color-white);
    }
    .login-box ion-input.input-label-placement-stacked .label-text {
        color: var(--color-white);
    }
    ion-input label, ion-textarea label{
        color: var(--color-black);
    }
    ion-input.input-label-placement-stacked .label-text {
        color: var(--color-primary);
    }
    ion-alert .alert-wrapper {
        --background: var(--color-white);
    }
    ion-alert .alert-wrapper .alert-title, ion-alert .alert-wrapper .alert-sub-title {
        color: var(--color-black);
    }
    ion-button ion-icon , ion-fab-button ion-icon {
        color: var(--color-white) !important;
    }
    ion-button.button-clear ion-icon {
        color: var(--color-primary) !important;
    }
}