.tab-body h3, .tab-body h1 {
    margin-bottom: 10px;
    color: var(--color-black);
    
}

.tab-body p  {
    margin-bottom: 10px;
    color: var(--color-black);
}
h1, h2, h3, h4, h5, h6 {
    /* font-size: revert; */
    font-weight: revert;
}