.tab-body h3, .tab-body h1 {
    margin-bottom: 10px;
    color: var(--color-black);
    
}

.tab-body p  {
    margin-bottom: 10px;
    color: var(--color-black);
}
h1, h2, h3, h4, h5, h6 {
    /* font-size: revert; */
    font-weight: revert;
}

.selected-popover .popover-buttons {
    z-index: 999;
}
.showSelectedText {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}
.showSelectedText .text {
    flex: auto;
    margin-left: 10px;
}
.editing-popover {
    --width: auto;
}
.editingIcons {
    position: absolute;
    right: -8px;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
}
._contentEditable_uazmk_379 {
    padding: 0px !important;
}

.new_content {
    background-color: #ecded4;
    /* animation: changeBackgroundColor 5s forwards; */
}
@keyframes changeBackgroundColor {
    0% {
      background-color: #ffff0073; /* initial color */
    }
    50% {
      background-color: #ffff0073; /* color at the halfway point */
    }
    100% {
      background-color: transparent; /* reset to the initial color */
    }
}

.highlighted {
    background-color: #990ae34a;
}
.editing-area {
    outline: none;
}

.cursor {
    display: inline-block;
    width: 3px;
    height: 15px;
    background-color: var(--color-primary);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
  